
type lidbg_load,domain;
type lidbg_load_exec,exec_type,file_type;
init_daemon_domain(lidbg_load)
allow lidbg_load self:capability sys_module;
allow lidbg_load shell_exec:file execute;
allow lidbg_load block_device:dir search;
allow lidbg_load labeledfs:filesystem remount;
allow lidbg_load system_file:dir setattr;
allow lidbg_load system_file:file setattr;
allow lidbg_load device:dir write;
allow lidbg_load self:capability { sys_admin dac_override };
allow lidbg_load selinuxfs:file write;
allow lidbg_load system_block_device:blk_file read;
allow lidbg_load system_block_device:blk_file open;
allow system_app self:capability net_admin;
allow kernel log_device:dir search;
allow lidbg_load kernel:security setenforce; #which can get setenforce 0 success.
allow lidbg_load log_device:dir { search getattr };
allow lidbg_load system_data_file:dir write;
allow lidbg_load system_file:file execute_no_trans;
allow lidbg_load console_device:chr_file { getattr setattr };
allow lidbg_load dalvikcache_data_file:dir { write remove_name add_name };
allow lidbg_load dalvikcache_data_file:file { write create unlink };
allow lidbg_load dalvikcache_data_file:lnk_file { read getattr };
allow lidbg_load default_prop:property_service set;
allow lidbg_load device:chr_file { read write open setattr };
allow lidbg_load device:dir { read open };
allow lidbg_load init:unix_stream_socket connectto;
allow lidbg_load kernel:process setsched;
allow lidbg_load lidbguevent_device:chr_file execute;
allow lidbg_load log_device:dir { write read open add_name setattr };
allow lidbg_load log_device:file { write getattr setattr read create open append };
allow lidbg_load log_device:lnk_file create;
allow lidbg_load mediaserver:binder call;
allow lidbg_load proc:file write;
allow lidbg_load property_socket:sock_file write;
allow lidbg_load rootfs:filesystem remount;
allow lidbg_load self:capability { sys_rawio fsetid fowner };
allow lidbg_load serial_device:chr_file { getattr setattr };
allow lidbg_load servicemanager:binder call;
allow lidbg_load sysfs:file { write setattr };
allow lidbg_load sysfs_devices_system_cpu:file setattr;
allow lidbg_load system_block_device:blk_file ioctl;
allow lidbg_load system_data_file:dir { create add_name setattr };
allow lidbg_load system_data_file:file { write create open append };
allow lidbg_load system_server:binder { transfer call };
allow lidbg_load video_device:chr_file { getattr setattr };
allow lidbg_load zygote_exec:file { read getattr open execute execute_no_trans };
allow lidbg_load shell_data_file:dir search;
allow servicemanager lidbg_load:dir search;
allow servicemanager lidbg_load:file read;
allow servicemanager lidbg_load:file open;
allow servicemanager lidbg_load:process getattr;
#============= kernel ==============
allow kernel persist_file:dir search;
allow kernel device:chr_file { read write open };
allow kernel log_device:file { read open };
allow kernel system_data_file:dir { write add_name };
allow kernel system_data_file:file { write create open };

#============= lidbg_load ==============
allow lidbg_load shell_exec:file { read open getattr setattr write };
allow lidbg_load shell_exec:file execute_no_trans;
allow lidbg_load lidbguevent_device:chr_file { getattr setattr open read ioctl lock append write };
allow lidbg_load dbgmsg_device:chr_file { getattr setattr open read ioctl lock append write };
allow lidbg_load device:chr_file getattr;
allow lidbg_load rootfs:file entrypoint;
allow lidbg_load rootfs:file read;
allow lidbg_load rootfs:file getattr;
allow lidbg_load rootfs:file open;
allow lidbg_load rootfs:file execute;
allow lidbg_load rootfs:file execute_no_trans;

#============= healthd ==============
allow healthd device:dir write;

#============= recovery ==============
allow recovery sysfs_devices_system_cpu:file write;

# flyaudio allow selinux 2017-04-01 11:54:01 /root/minicom_log/ttyUSB0.txt
allow lidbg_load system_data_file:dir {read};
allow lidbg_load system_data_file:dir {open};
allow lidbg_load system_data_file:file {setattr};
allow init surfaceflinger:binder {call};
allow lidbg_load device:chr_file {append};
allow lidbg_load block_device:blk_file {getattr};
allow lidbg_load block_device:blk_file {setattr};
allow lidbg_load lidbg_load:capability2 {syslog};
allow lidbg_load kernel:system {syslog_mod};
allow lidbg_load modem_efs_partition_device:blk_file {getattr};
allow lidbg_load modem_efs_partition_device:blk_file {setattr};
allow lidbg_load persist_display_file:dir {search};
allow lidbg_load persist_display_file:file {getattr};
allow lidbg_load persist_display_file:file {read write};
allow lidbg_load persist_display_file:file {open};
allow lidbg_load persist_display_file:file {setattr};
allow surfaceflinger surfaceflinger:unix_stream_socket {ioctl};
allow lidbg_load system_data_file:dir {remove_name};
allow lidbg_load system_data_file:file {unlink};
allow kernel toolbox_exec:file {execute};
allow kernel toolbox_exec:file {read open};
allow kernel toolbox_exec:file {execute_no_trans};
allow kernel device:chr_file {getattr};
allow kernel device:chr_file {setattr};
allow surfaceflinger init:binder {call};
allow lidbg_load rootfs:dir {write};
allow lidbg_load rootfs:dir {add_name};
allow lidbg_load rootfs:file {create};
allow lidbg_load rootfs:file {write};
allow lidbg_load rootfs:file {setattr};
allow lidbg_load rootfs:dir {create};
allow lidbg_load cache_file:dir {remove_name};
allow lidbg_load cache_file:file {unlink};
allow kernel persist_display_file:file {read};
allow kernel persist_display_file:file {open};
allow qti_init_shell qmuxd_socket:sock_file {write};
allow qti_init_shell qmuxd:unix_stream_socket {connectto};
allow qti_init_shell qmuxd_socket:dir {write};
allow qti_init_shell qmuxd_socket:dir {add_name};
allow qti_init_shell qmuxd_socket:sock_file {create};
allow qti_init_shell qti_init_shell:socket {ioctl};
allow kernel sysfs:file {write};
allow init gpu_device:chr_file {ioctl};
allow init surfaceflinger:fd {use};
allow kernel system_data_file:file {append};
allow kernel log_device:file {append};
allow init sdcardd_exec:file {getattr};
allow init sdcardd_exec:file {execute};
allow init sdcardd_exec:file {read open};
allow init sdcardd_exec:file {execute_no_trans};
allow healthd healthd:capability {mknod};
allow lidbg_load rootfs:dir {setattr};
allow lidbg_load device:chr_file {execute};
allow lidbg_load sysfs_devices_system_cpu:file {write};
allow lidbg_load sysfs:dir {mounton};
allow lidbg_load debugfs:filesystem {mount};
allow lidbg_load system_prop:property_service {set};
allow recovery device:chr_file {write};
allow recovery device:chr_file {open};
allow recovery device:chr_file {read};
allow tee unlabeled:dir {search};
allow lidbg_load cache_file:file {setattr};
allow lidbg_load device:chr_file {ioctl};
allow lidbg_load dalvikcache_data_file:file {execute};
allow system_server system_server:unix_stream_socket {ioctl};
allow system_app device:chr_file {write};
allow system_app device:chr_file {open};
allow system_app device:chr_file {getattr};
allow system_server device:chr_file {append};
allow system_server device:chr_file {open};
allow system_server device:chr_file {getattr};
allow system_app device:chr_file {read};
allow lidbg_load lidbg_load:rawip_socket {create};
allow lidbg_load lidbg_load:capability {net_raw};
allow lidbg_load lidbg_load:rawip_socket {getopt};
allow lidbg_load lidbg_load:capability {net_admin};
allow lidbg_load lidbg_load:rawip_socket {setopt};
allow system_server device:chr_file {read write};
allow system_server device:chr_file {ioctl};
allow system_server log_device:file {read append};
allow system_server log_device:file {open};
allow platform_app device:chr_file {read write};
allow platform_app device:chr_file {open};
allow platform_app device:chr_file {ioctl};
allow kernel storage_file:lnk_file {read};
allow kernel mnt_user_file:dir {search};
allow kernel mnt_user_file:lnk_file {read};
allow kernel fuse:dir {search};
allow lidbg_load storage_file:dir {write};
allow lidbg_load storage_file:dir {add_name};
allow lidbg_load storage_file:file {create};
allow lidbg_load storage_file:file {read write open};
allow lidbg_load storage_file:dir {remove_name};
allow lidbg_load storage_file:file {unlink};
allow lidbg_load storage_file:lnk_file {create};
allow lidbg_load storage_file:lnk_file {rename};
allow mediaserver system_data_file:file {append};
allow mediaserver system_data_file:file {open};
allow mediaserver system_data_file:file {setattr};
allow mediaserver device:chr_file {read write};
allow mediaserver device:chr_file {open};
allow untrusted_app unlabeled:dir {search};
allow init surfaceflinger:binder {transfer};
allow lidbg_load shell_data_file:dir {getattr};
allow lidbg_load unlabeled:dir {search};
allow lidbg_load unlabeled:file {getattr};
allow lidbg_load shell_data_file:file {getattr};
allow lidbg_load unlabeled:file {read};
allow lidbg_load unlabeled:file {open};
allow lidbg_load shell_data_file:file {read write};
allow lidbg_load shell_data_file:file {open};
allow lidbg_load shell_data_file:file {setattr};
allow lidbg_load lidbg_load:tcp_socket {create};
allow lidbg_load lidbg_load:tcp_socket {getopt};
allow lidbg_load lidbg_load:tcp_socket {getattr};
allow lidbg_load cnd_socket:sock_file {write};
allow lidbg_load cnd:unix_stream_socket {connectto};
allow lidbg_load dpmwrapper_socket:sock_file {write};
allow system_server lidbg_load:binder {transfer};
allow untrusted_app device:chr_file {read write};
allow untrusted_app device:chr_file {open};
allow system_app device:chr_file {ioctl};
allow system_app system_file:file {execmod};
allow system_app device:chr_file {read write};
allow system_app device:chr_file {execute};
allow system_app unlabeled:dir {search};
allow system_app unlabeled:file {read};
allow system_app unlabeled:file {open};
allow system_app unlabeled:file {getattr};
allow system_app default_prop:property_service {set};
allow lidbg_load usb_device:dir {read};
allow lidbg_load usb_device:dir {open};
allow lidbg_load usb_device:chr_file {read};
allow lidbg_load usb_device:chr_file {open};
allow kernel sysfs_devices_system_cpu:file {write};
allow lidbg_load init:dir {search};
allow lidbg_load init:file {read};
allow lidbg_load init:file {open};
allow lidbg_load init:file {getattr};
allow lidbg_load kernel:dir {search};
allow lidbg_load kernel:file {read};
allow lidbg_load kernel:file {open};
allow lidbg_load kernel:file {getattr};
allow lidbg_load ueventd:dir {search};
allow lidbg_load ueventd:file {read};
allow lidbg_load ueventd:file {open};
allow lidbg_load ueventd:file {getattr};
allow lidbg_load logd:dir {search};
allow lidbg_load logd:file {read};
allow lidbg_load logd:file {open};
allow lidbg_load logd:file {getattr};
allow lidbg_load vold:dir {search};
allow lidbg_load vold:file {read};
allow lidbg_load vold:file {open};
allow lidbg_load vold:file {getattr};
allow lidbg_load healthd:dir {search};
allow lidbg_load healthd:file {read};
allow lidbg_load healthd:file {open};
allow lidbg_load healthd:file {getattr};
allow lidbg_load lmkd:dir {search};
allow lidbg_load lmkd:file {read};
allow lidbg_load lmkd:file {open};
allow surfaceflinger device:chr_file {write};
allow surfaceflinger device:chr_file {open};
allow system_app ctl_bootanim_prop:property_service {set};
allow init system_file:file {execute_no_trans};
allow lidbg_load storage_file:dir {read};
allow lidbg_load storage_file:dir {open};
allow lidbg_load storage_file:lnk_file {read};
allow lidbg_load fuse:filesystem {unmount};
allow lidbg_load fuse_device:chr_file {read};
allow lidbg_load fuse_device:chr_file {open};
allow lidbg_load fuse_device:chr_file {ioctl};
allow init servicemanager:binder {call};
allow servicemanager init:dir {search};
allow servicemanager init:file {read};
allow servicemanager init:file {open};
allow servicemanager init:process {getattr};
allow servicemanager init:binder {transfer};
allow surfaceflinger init:binder {transfer};
allow init gpu_device:chr_file {write};
allow system_app sysfs:file {write};
allow kernel storage_stub_file:dir {search};
allow lidbg_load fuse:dir {search};
allow lidbg_load storage_file:lnk_file {getattr};
allow lidbg_load fuse:dir {write};
allow lidbg_load fuse:dir {add_name};
allow lidbg_load fuse:lnk_file {create};
allow lidbg_load fuse:file {create};
allow lidbg_load fuse:file {read write open};
allow lidbg_load fuse:dir {remove_name};
allow lidbg_load fuse:file {unlink};

# flyaudio allow selinux 2017-04-01 12:29:13 /root/minicom_log/ttyUSB0.txt
allow untrusted_app storage_stub_file:dir {getattr};
allow platform_app device:chr_file {write};
allow untrusted_app device:chr_file {write};
allow lidbg_load dpmd:unix_stream_socket {connectto};
allow lidbg_load fwmarkd_socket:sock_file {write};
allow lidbg_load netd:unix_stream_socket {connectto};
allow netd lidbg_load:fd {use};
allow netd lidbg_load:tcp_socket {read write};
allow netd lidbg_load:tcp_socket {getopt};
allow netd lidbg_load:tcp_socket {setopt};
allow lidbg_load lidbg_load:tcp_socket {connect};
allow lidbg_load port:tcp_socket {name_connect};
allow lidbg_load lidbg_load:tcp_socket {setopt};
allow lidbg_load lidbg_load:tcp_socket {bind};
allow lidbg_load port:tcp_socket {name_bind};
allow lidbg_load node:tcp_socket {node_bind};
allow lidbg_load lidbg_load:tcp_socket {listen};

# flyaudio allow selinux 2017-04-06 19:07:25 /root/minicom_log/ttyUSB1.txt
allow qti_init_shell qti_init_shell:socket {create};
allow qti_init_shell qmuxd_socket:dir {search};
allow install_recovery block_device:blk_file {read};
allow wcnss_service persist_file:file {setattr};
allow dpmd unlabeled:dir {search};
allow cnd unlabeled:dir {search};
allow RIDL unlabeled:dir {search};
allow location unlabeled:dir {search};
allow zygote unlabeled:dir {search};
allow platform_app unlabeled:dir {search};
allow vold mnt_media_rw_file:dir {mounton};
allow lidbg_load cache_file:file {open};
allow lidbg_load cache_file:dir {write};
allow lidbg_load fuse:dir {read};
allow lidbg_load fuse:dir {open};
allow lidbg_load vold_device:blk_file {read};
allow lidbg_load vold_device:blk_file {open};
allow lidbg_load vold_device:blk_file {ioctl};
allow lidbg_load vfat:filesystem {remount};
allow untrusted_app device:chr_file {ioctl};
allow system_app block_device:blk_file {getattr};
allow system_app block_device:blk_file {read};
allow system_app block_device:blk_file {open};
allow kernel fuse:dir {read};
allow kernel fuse:dir {open};
allow lidbg_load cache_file:file {create};
allow lidbg_load cache_file:file {write open};
allow qti_init_shell qti_init_shell:socket {getopt};
allow qti_init_shell qti_init_shell:socket {write};
allow qti_init_shell qti_init_shell:socket {read};
allow lidbg_load lmkd:file {getattr};
allow lidbg_load servicemanager:dir {search};
allow lidbg_load servicemanager:file {read};
allow lidbg_load servicemanager:file {open};
allow lidbg_load servicemanager:file {getattr};
allow lidbg_load surfaceflinger:dir {search};
allow lidbg_load surfaceflinger:file {read};
allow lidbg_load surfaceflinger:file {open};
allow lidbg_load surfaceflinger:file {getattr};
allow lidbg_load tee:dir {search};
allow lidbg_load tee:file {read};
allow lidbg_load tee:file {open};
allow lidbg_load tee:file {getattr};
allow lidbg_load per_mgr:dir {search};
allow lidbg_load per_mgr:file {read};
allow lidbg_load per_mgr:file {open};
allow lidbg_load per_mgr:file {getattr};
allow lidbg_load rmt_storage:dir {search};
allow system_app log_device:file {read append};
allow system_app log_device:file {open};
allow lidbg_load rmt_storage:file {read};
allow lidbg_load rmt_storage:file {open};
allow kernel storage_file:dir {search};
allow lidbg_load rmt_storage:file {getattr};
allow lidbg_load shell:dir {search};
allow lidbg_load shell:file {read};
allow lidbg_load shell:file {open};
allow lidbg_load shell:file {getattr};
allow lidbg_load netd:dir {search};
allow lidbg_load netd:file {read};
allow lidbg_load netd:file {open};
allow lidbg_load netd:file {getattr};
allow lidbg_load debuggerd:dir {search};
allow lidbg_load debuggerd:file {read};
allow lidbg_load debuggerd:file {open};
allow lidbg_load debuggerd:file {getattr};
allow lidbg_load rild:dir {search};
allow lidbg_load rild:file {read};
allow lidbg_load rild:file {open};
allow lidbg_load rild:file {getattr};
allow lidbg_load cache_file:dir {add_name};
allow mediaserver audiod:binder {call};
allow lidbg_load procrank_exec:file {getattr};
allow lidbg_load procrank_exec:file {execute};
allow lidbg_load procrank_exec:file {read open};
allow lidbg_load procrank_exec:file {execute_no_trans};
allow lidbg_load init:dir {read};
allow lidbg_load init:dir {open};
allow lidbg_load kernel:dir {read};
allow lidbg_load kernel:dir {open};
allow lidbg_load init:dir {getattr};
allow lidbg_load kernel:dir {getattr};
allow lidbg_load ueventd:dir {getattr};
allow lidbg_load logd:dir {getattr};
allow lidbg_load vold:dir {getattr};
allow lidbg_load healthd:dir {getattr};
allow lidbg_load lmkd:dir {getattr};
allow lidbg_load servicemanager:dir {getattr};
allow lidbg_load surfaceflinger:dir {getattr};
allow lidbg_load tee:dir {getattr};
allow lidbg_load per_mgr:dir {getattr};
allow lidbg_load rmt_storage:dir {getattr};
allow mediaserver lidbg_load:fd {use};
allow lidbg_load system_app:file {read};
allow lidbg_load system_app:file {open};
allow lidbg_load system_app:file {getattr};
allow system_server lidbg_load:fd {use};
allow lidbg_load system_app:dir {search};
allow lidbg_load drmserver:dir {search};
allow lidbg_load drmserver:dir {read};
allow lidbg_load drmserver:dir {open};
allow lidbg_load mediaserver:dir {search};
allow lidbg_load mediaserver:file {open};
allow lidbg_load mediaserver:file {getattr};
allow lidbg_load mediaserver:dir {read};
allow lidbg_load mediaserver:dir {open};
allow lidbg_load installd:file {read};
allow lidbg_load installd:file {open};
allow lidbg_load installd:file {getattr};
allow lidbg_load system_app:dir {read};
allow lidbg_load system_app:dir {open};
allow lidbg_load radio:dir {search};
allow lidbg_load radio:file {read};
allow lidbg_load radio:file {open};
allow lidbg_load radio:file {getattr};
allow lidbg_load qtitetherservice_app:file {read};
allow lidbg_load qtitetherservice_app:file {open};
allow lidbg_load qtitetherservice_app:dir {search};
allow lidbg_load qtitetherservice_app:file {getattr};
allow lidbg_load qti:dir {search};
allow lidbg_load qti:file {read};
allow lidbg_load qti:file {open};
allow lidbg_load qti:file {getattr};
allow lidbg_load qti:dir {read};
allow lidbg_load qti:dir {open};
allow lidbg_load netmgrd:dir {search};
allow lidbg_load netmgrd:dir {read};
allow lidbg_load netmgrd:dir {open};
allow lidbg_load qtitetherservice_app:dir {read};
allow lidbg_load qtitetherservice_app:dir {open};
allow lidbg_load imscm:file {read};
allow lidbg_load imscm:file {open};
allow lidbg_load imscm:file {getattr};
allow lidbg_load netmgrd:file {read};
allow lidbg_load netmgrd:file {open};
allow lidbg_load netmgrd:file {getattr};
allow lidbg_load healthd:dir {read};
allow lidbg_load healthd:dir {open};
allow lidbg_load imscm:dir {search};
allow lidbg_load imscm:dir {read};
allow lidbg_load imscm:dir {open};
allow lidbg_load system_server:dir {search};
allow lidbg_load system_server:file {read};
allow lidbg_load system_server:file {open};
allow lidbg_load system_server:file {getattr};
allow lidbg_load system_server:dir {read};
allow lidbg_load system_server:dir {open};
allow lidbg_load atfwd:dir {search};
allow lidbg_load atfwd:file {read};
allow lidbg_load atfwd:file {open};
allow lidbg_load atfwd:file {getattr};
allow lidbg_load atfwd:dir {read};
allow lidbg_load atfwd:dir {open};
allow lidbg_load perfd:dir {search};
allow lidbg_load perfd:file {read};
allow lidbg_load perfd:file {open};
allow lidbg_load perfd:file {getattr};
allow lidbg_load perfd:dir {read};
allow lidbg_load perfd:dir {open};
allow lidbg_load lmkd:dir {read};
allow lidbg_load lmkd:dir {open};
allow lidbg_load servicemanager:dir {read};
allow lidbg_load servicemanager:dir {open};
allow lidbg_load surfaceflinger:dir {read};
allow lidbg_load surfaceflinger:dir {open};
allow lidbg_load time_daemon:dir {search};
allow lidbg_load time_daemon:file {read};
allow lidbg_load time_daemon:file {open};
allow lidbg_load time_daemon:file {getattr};
allow lidbg_load time_daemon:dir {read};
allow lidbg_load time_daemon:dir {open};
allow lidbg_load audiod:dir {search};
allow lidbg_load audiod:file {read};
allow lidbg_load audiod:file {open};
allow lidbg_load audiod:file {getattr};
allow lidbg_load audiod:dir {read};
allow lidbg_load mnt_user_file:dir {search};
allow lidbg_load mnt_user_file:lnk_file {read};
allow lidbg_load fuse:dir {setattr};
allow lidbg_load fuse:dir {create};
allow lidbg_load tombstone_data_file:dir {getattr};
allow lidbg_load tombstone_data_file:dir {read};
allow lidbg_load tombstone_data_file:dir {open};
allow lidbg_load untrusted_app:file {read};
allow lidbg_load untrusted_app:file {open};
allow lidbg_load untrusted_app:file {getattr};
allow lidbg_load tombstone_data_file:file {getattr};
allow lidbg_load tombstone_data_file:file {read};
allow lidbg_load tombstone_data_file:file {open};
allow lidbg_load qmuxd:dir {search};
allow lidbg_load qmuxd:dir {read};
allow lidbg_load qmuxd:dir {open};
allow lidbg_load vm_bms:dir {search};
allow lidbg_load vm_bms:file {read};
allow lidbg_load vm_bms:file {open};
allow lidbg_load vm_bms:file {getattr};
allow lidbg_load vm_bms:dir {read};
allow lidbg_load vm_bms:dir {open};
allow lidbg_load sdcardd:dir {search};
allow lidbg_load sdcardd:file {read};
allow lidbg_load sdcardd:file {open};
allow lidbg_load sdcardd:file {getattr};
allow lidbg_load sdcardd:dir {read};
allow lidbg_load sdcardd:dir {open};
allow lidbg_load untrusted_app:dir {search};
allow lidbg_load untrusted_app:dir {read};
allow lidbg_load untrusted_app:dir {open};
allow lidbg_load platform_app:dir {search};
allow lidbg_load platform_app:file {read};
allow lidbg_load platform_app:file {open};
allow lidbg_load platform_app:file {getattr};
allow lidbg_load qmuxd:file {read};
allow lidbg_load qmuxd:file {open};
allow lidbg_load qmuxd:file {getattr};
allow lidbg_load keystore:dir {search};
allow lidbg_load keystore:file {read};
allow lidbg_load keystore:file {open};
allow lidbg_load keystore:file {getattr};
allow lidbg_load keystore:dir {read};
allow lidbg_load keystore:dir {open};
allow lidbg_load logd:dir {read};
allow lidbg_load logd:dir {open};
allow lidbg_load vold:dir {read};
allow lidbg_load vold:dir {open};
allow lidbg_load qcomsysd:dir {search};
allow lidbg_load qcomsysd:file {read};
allow lidbg_load qcomsysd:file {open};
allow lidbg_load qcomsysd:file {getattr};
allow lidbg_load qcomsysd:dir {read};
allow lidbg_load qcomsysd:dir {open};
allow lidbg_load cnd:dir {search};
allow lidbg_load cnd:file {read};
allow lidbg_load cnd:file {open};
allow lidbg_load cnd:file {getattr};
allow lidbg_load cnd:dir {read};
allow lidbg_load cnd:dir {open};
allow lidbg_load rfs_access:dir {search};
allow lidbg_load rfs_access:file {read};
allow lidbg_load rfs_access:file {open};
allow lidbg_load rfs_access:file {getattr};
allow lidbg_load rfs_access:dir {read};
allow lidbg_load zygote:dir {search};
allow lidbg_load zygote:dir {read};
allow lidbg_load zygote:dir {open};
allow lidbg_load gatekeeperd:file {read};
allow lidbg_load gatekeeperd:file {open};
allow lidbg_load gatekeeperd:file {getattr};
allow lidbg_load perfprofd:file {read};
allow lidbg_load perfprofd:file {open};
allow lidbg_load perfprofd:file {getattr};
allow lidbg_load dpmd:file {read};
allow lidbg_load dpmd:file {open};
allow lidbg_load dpmd:file {getattr};
allow lidbg_load location:dir {search};
allow lidbg_load location:dir {read};
allow lidbg_load location:dir {open};
allow lidbg_load perfprofd:dir {search};
allow lidbg_load perfprofd:dir {read};
allow lidbg_load perfprofd:dir {open};
allow lidbg_load dpmd:dir {search};
allow lidbg_load dpmd:dir {read};
allow lidbg_load dpmd:dir {open};
allow lidbg_load location:file {read};
allow lidbg_load location:file {open};
allow lidbg_load location:file {getattr};
allow lidbg_load tee:dir {read};
allow lidbg_load tee:dir {open};
allow lidbg_load mm-pp-daemon:dir {search};
allow lidbg_load su:file {read};
allow lidbg_load su:file {open};
allow lidbg_load su:file {getattr};
allow lidbg_load fidodaemon:dir {search};
allow lidbg_load fidodaemon:file {read};
allow lidbg_load fidodaemon:file {open};
allow lidbg_load fidodaemon:file {getattr};
allow lidbg_load wcnss_service:dir {search};
allow lidbg_load wcnss_service:file {read};
allow lidbg_load wcnss_service:file {open};
allow lidbg_load wcnss_service:file {getattr};
allow lidbg_load zygote:file {read};
allow lidbg_load zygote:file {open};
allow lidbg_load zygote:file {getattr};
allow lidbg_load gatekeeperd:dir {search};
allow lidbg_load drmserver:file {read};
allow lidbg_load drmserver:file {open};
allow lidbg_load drmserver:file {getattr};
allow lidbg_load mediaserver:file {read};
allow lidbg_load installd:dir {search};
allow lidbg_load ims:dir {search};
allow lidbg_load ims:file {read};
allow lidbg_load ims:file {open};
allow lidbg_load ims:file {getattr};
allow lidbg_load mm-pp-daemon:file {read};
allow lidbg_load mm-pp-daemon:file {open};
allow lidbg_load mm-pp-daemon:file {getattr};
allow lidbg_load su:dir {search};
allow qti_init_shell selinuxfs:file write;
allow qti_init_shell kernel:security setenforce;
